@import url("https://fonts.cdnfonts.com/css/japanese-3017");

$main_back: url("/images/main_background.png");
$score_back: url("/images/score_background.png");
$coin_back: url("/images/touch_background.png");

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-image: $main_back;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 715px;
  height: 100vh;
  padding: 8vh 5vw 0px;

  .score {
    background-image: $score_back;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    padding: 19px 0px;
    gap: 8px;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      font-size: 48px;
      font-family: "Japanese 3017";
      -webkit-text-stroke: 1.5px black;
    }
  }

  .tap-counter {
    position: static;

    .fruit_scale {
      transform: scale(0.85);
    }

    .fruit-image {
      min-width: 270px;
      max-width: 350px;
      width: 72vw;
      transition: transform 0.1s;
      filter: drop-shadow(10px 0px 55px rgb(233, 0, 178))
        drop-shadow(0px 80px 40px black);
    }

    .tap-message {
      line-height: 0px;
      transition: opacity 0.5s;
      font-size: 34px;
      font-weight: 900;
      color: orange;
      font-family: "Japanese 3017";

      &.fade-out {
        opacity: 0;
        transition: opacity 1s ease-out;
      }
    }
  }
}
